.projects-intro__wrapper,
.main-projects__wrapper,
.project-action__wrapper,
.projects-gallery__wrapper {
  max-width: 75rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
/*-------------------------BANNER-------------------------*/
.banner__text {
  text-align: center;
}
.banner__title--h1 {
  font-size: var(--font-size-h1);
  font-weight: 900;
  margin-bottom: 1rem;
}
.banner__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.2rem;
}

/*-------------------------PROJECTS-INTRO-------------------------*/
.projects-intro {
  background: var(--color-background-gray);
}
.projects-intro__wrapper {
  margin: 5rem auto;
}
.projects-intro__title {
  font-size: var(--font-size-h2);
  color: var(--color-primary);
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
}
.projects-intro__paragraph {
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  color: var(--color-text-body);
  text-align: center;
}
.projects-intro__paragraph a {
  text-decoration: none;
  color: var(--color-accent);
}
/*-------------------------MAIN-PROJECTS-------------------------*/
.main-projects {
  position: relative;
  background-color: var(--color-background-light);
}
.main-projects__wrapper {
  margin: 5rem auto;
}
.main-projects__title--h2 {
  font-size: var(--font-size-paragraph);
  color: var(--color-text-body);
  font-weight: 900;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  line-height: 1.3;
  text-transform: uppercase;
}
.main-projects__title--h3 {
  font-size: var(--font-size-h2);
  color: var(--color-primary);
  font-weight: 900;
  text-align: center;
}
.main-projects__item {
  background-color: var(--color-text-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}
.main-projects__item:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.15);
}
.main-projects__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}
.main-projects__content {
  text-align: start;
  padding: 2rem 1.5rem;
}
.main-projects__subtitle {
  font-size: var(--font-size-h4);
  font-weight: 900;
  margin-bottom: 0.75rem;
  color: var(--color-primary);
}
.main-projects__subtitle span {
  color: var(--color-text-body);
}
.main-projects__sector {
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  color: var(--color-text-body);
}
.main-projects__services {
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  color: var(--color-text-body);
}
.main-projects__address {
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--color-text-body);
}
.main-projects__button--link {
  text-decoration: none;
}
.main-projects__button {
  text-decoration: none;
  position: relative;
  color: var(--color-primary);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
}
.main-projects__button--text {
  font-size: var(--font-size-paragraph);
  font-weight: 600;
  margin-right: 0.5rem;
}
.main-projects__button--icon {
  font-size: 1rem;
  transition: transform 0.3s ease;
}
.main-projects__button:hover .project__button--icon {
  transform: translateX(5px);
}
/*-----------------------------------CALL TO ACTION-----------------------------------*/
.project__cta {
  background: var(--color-accent);
}
.project-action__wrapper {
  margin: 5rem auto;
}
.project-action__title {
  font-size: var(--font-size-h2);
  font-weight: 900;
  color: var(--color-text-light);
  text-align: center;
  margin-bottom: 2rem;
}
.project__cta--text {
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  color: var(--color-text-light);
  text-align: center;
  margin-bottom: 2rem;
}
.project__cta--buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.2rem;
}
.btn {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.01rem;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn--primary {
  background-color: var(--color-background-light);
  color: var(--color-accent);
}
.btn--primary:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.15);
}
.btn--secondary {
  color: var(--color-text-light);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid var(--color-background-light);
}
.btn--secondary:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.15);
}
.bnt--text {
  position: absolute;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
}
/*-------------------------PROJECTS-GALLERY-------------------------*/
.projects-gallery {
  background: var(--color-background-light);
}
.projects-gallery__wrapper {
  columns: 4 256px;
  column-gap: 1.5rem;
  padding: 6rem 0;
}
.projects-gallery__card {
  margin-bottom: 1.5rem;
  position: relative;
}
.projects-gallery__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-background-light);
  overflow: hidden;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.15);
}
/*-----------------------------------GRID-----------------------------------*/
.container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem calc(100vh - 6rem) auto auto auto auto auto;
}
.navbar,
.banner,
.projects-intro,
.project__cta,
.main-projects,
.projects-gallery,
.footer {
  grid-column: 1/-1;
}
/*-------------------------NAVBAR-------------------------*/
.banner__text {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
}
.banner__title {
  grid-column: 1/-1;
  grid-row: 1/2;
  align-self: end;
  justify-self: center;
}
.banner__buttons {
  grid-column: 1/-1;
  grid-row: 2/-1;
  align-self: start;
  justify-self: center;
}
/*-------------------------PROJECTS-INTRO-------------------------*/
.projects-intro {
  display: grid;
  grid-row: 3/4;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
/*-------------------------MAIN-PROJECTS-------------------------*/
.main-projects {
  display: grid;
  grid-row: 4/5;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
.main-projects__wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 3rem;
}
.main-projects__text {
  display: grid;
  grid-column: 1/-1;
  grid-row: 1/2;
}
.main-projects__boxes {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
  grid-column: 1/-1;
  grid-row: 2/3;
}
.main-projects__item {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
}
/*-------------------------CALL TO ACTION-------------------------*/
.project__cta {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row: 5/6;
}
/*-------------------------GALLERY-PROJECTS-------------------------*/
.projects-gallery {
  display: grid;
  grid-row: 6/7;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
/*-------------------------FOOTER-------------------------*/
.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row: 7/-1;
  justify-items: center;
}

/*-----------------------------------MEDIA QUERIES-----------------------------------*/
/* RESPONSIVE DESIGN 768px */
@media (min-width: 768px) {
  /*-------------------------BANNER-------------------------*/
  .banner__title--h1 {
    font-size: 4rem;
    font-weight: 900;
  }
  .banner__buttons {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .banner__button {
    width: 300px;
    z-index: 120;
  }
  .project__cta--buttons {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .btn {
    width: 300px;
    z-index: 120;
  }
}
/* RESPONSIVE DESIGN 1080px */
@media (min-width: 1080px) {
  .banner__title--h1 {
    font-size: 5rem;
    font-weight: 900;
  }
}
